{% extends "base.html.twig" %}

{% block title %}Authors{% endblock %}

{% block body %}
	<h1>Authors List</h1>
	<div class="author-list">
		{% if authors is not empty %}
			<ul>
			{% for author in authors %}
				<li>{{ author.name }}</li>
			{% endfor %}
			</ul>
		{% else %}
			<em>No authors were added yet.</em>
		{% endif %}
	</div>
	<div class="actions">
		<a href="{{ path("author_create") }}" class="create-author-link">Create New</a>
	</div>
{% endblock %}